.gridContainer {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    height: 100vh;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .header {
    grid-area: header;
  }
  
  .main {
    grid-area: main;
  }